body{
	overflow-x: hidden
}

.table {
  table-layout: fixed;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fix-category {
	position: fixed;
	right: 10%;
	top: 230px;
	z-index: 1000
}

.category-hover {
	text-decoration: none;
	color: black;
}

.category-hover:hover {
	color: gray;
}

.sub-category {
	margin-left: 20px;
	font-size: 14px;
}

#fixedbtn {
	position: fixed;
	right: 3%;
	bottom: 0px;
	z-index: 1000
}

.half-highlight-yellow{
  background: linear-gradient(to top, #ffffbb 35%, transparent 35%);
}

.half-highlight-purple{
  background: linear-gradient(to top, #f9ccfb 35%, transparent 35%);
}

.half-highlight-grin{
  background: linear-gradient(to top, #c3f7b3 35%, transparent 35%);
}

.half-highlight-blue{
  background: linear-gradient(to top, #b7eeff 35%, transparent 35%);
}

.icon {
	transition: all 0.1s linear;
}

.icon:hover {
	transform: scale(1.05);
}

.btn-info{
  color: white;
}

.contents {
	padding-left: 20px;
}

.profile-img {
	width:250px;
	height: 250px;
	object-fit: cover;
	border-radius: 15%;
}

.skill-img {
	width:110px;
	height: 110px;
	object-fit: cover;
	border-radius: 15%;
}

.contents-text {
	font-size: 1rem;
}

.p5 {
	padding: 5px;
}

.projcet-contents {
	position: relative;
}

.projcet-contents-text {
	color: #666;
}

.project-thumbnail {
	width:450px;
	height: 320px;
	object-fit: cover;
	border-radius: 5%;
}

.project-modal-img {
	width:520px;
	height: 360px;
	object-fit: cover;
	border-radius: 5%;
}

.project-background-left {
	border-radius: 0 190px 190px 0;
	height: 300px;
	left: -550px;
	top: 130px;
	z-index: -1;
	position: absolute;
}

.project-background-right {
	border-radius: 190px 0 0 190px;
	height: 300px;
	right: -550px;
	top: 130px;
	z-index: -1;
	position: absolute;
}

.background-color-blue {
	background-color: #d2e4ff;
}

.background-color-sky {
	background-color: #d3f9ff;
}

.background-color-purple {
	background-color: #f9ccfb;
}

.background-color-violet {
	background-color: #d8d0fc;
}

.background-color-brown {
	background-color: #ffdcbe;
}

.background-color-gray {
	background-color: #dfdfdf;
}

.background-color-green {
	background-color: #d1ffd9;
}


/* ================ The Timeline ================ */

.timeline {
	position: relative;
	width: 660px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
}

.timeline:before {
	position: absolute;
	left: 50%;
	top: 0;
	content: ' ';
	display: block;
	width: 6px;
	height: 100%;
	margin-left: -3px;
	background: rgb(192, 192, 192);
	background: -moz-linear-gradient(top, rgba(192, 192, 192,0) 0%, rgb(192, 192, 192) 8%, rgb(192, 192, 192) 92%, rgba(192, 192, 192,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
	background: -webkit-linear-gradient(top, rgba(192, 192, 192,0) 0%, rgb(192, 192, 192) 8%, rgb(192, 192, 192) 92%, rgba(192, 192, 192,0) 100%);
	background: -o-linear-gradient(top, rgba(192, 192, 192,0) 0%, rgb(192, 192, 192) 8%, rgb(192, 192, 192) 92%, rgba(192, 192, 192,0) 100%);
	background: -ms-linear-gradient(top, rgba(192, 192, 192,0) 0%, rgb(192, 192, 192) 8%, rgb(192, 192, 192) 92%, rgba(192, 192, 192,0) 100%);
	background: linear-gradient(to bottom, rgba(192, 192, 192,0) 0%, rgb(192, 192, 192) 8%, rgb(192, 192, 192) 92%, rgba(192, 192, 192,0) 100%);

	z-index: 5;
}

.timeline li {
	padding: 1em 0;
}

.timeline li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.direction-l {
	position: relative;
	width: 300px;
	float: left;
	text-align: right;
}

.direction-r {
	position: relative;
	width: 300px;
	float: right;
}

.flag-wrapper {
	position: relative;
	display: inline-block;

	text-align: center;
}

.flag {
	position: relative;
	display: inline;
	padding: 6px 10px;
	border-radius: 5px;

	font-weight: 600;
	text-align: left;
}

.direction-l .flag:before,
.direction-r .flag:before {
	position: absolute;
	top: 50%;
	right: -36px;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-top: -10px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(96,96,96);
	z-index: 10;
}

.direction-r .flag:before {
	left: -36px;
}

.direction-l .flag:after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-width: 8px;
	pointer-events: none;
}

.direction-r .flag:after {
	content: "";
	position: absolute;
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: inline;

	line-height: 1em;
	font-size: 0.66666em;
	color: rgb(250,80,80);
	vertical-align: middle;
}

.direction-l .time-wrapper {
	float: left;
}

.direction-r .time-wrapper {
	float: right;
}

.time {
	display: inline-block;
	padding: 4px 6px;
}

.desc {
	margin: 0 0.75em 0 0;

	font-size: 0.77777em;
	font-style: italic;
	line-height: 1.5em;
}

.direction-r .desc {
	margin: 0em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

	.timeline {
		width: 100%;
		padding: 4em 0 1em 0;
	}

	.timeline li {
		padding: 2em 0;
	}

	.direction-l,
	.direction-r {
		float: none;
		width: 100%;

		text-align: center;
	}

	.flag-wrapper {
		text-align: center;
	}

	.flag {
		z-index: 15;
	}

	.direction-l .flag:before,
	.direction-r .flag:before {
		position: absolute;
		top: -30px;
		left: 50%;
		content: ' ';
		display: block;
		width: 12px;
		height: 12px;
		margin-left: -9px;
		background: #fff;
		border-radius: 10px;
		border: 4px solid rgb(255,80,80);
		z-index: 10;
	}

	.direction-l .flag:after,
	.direction-r .flag:after {
		content: "";
		position: absolute;
		left: 50%;
		top: -8px;
		height: 0;
		width: 0;
		margin-left: -8px;
		border: solid transparent;
		border-bottom-color: rgb(255,255,255);
		border-width: 8px;
		pointer-events: none;
	}

	.time-wrapper {
		display: block;
		position: relative;
		margin: 4px 0 0 0;
		z-index: 14;
	}

	.direction-l .time-wrapper {
		float: none;
	}

	.direction-r .time-wrapper {
		float: none;
	}

	.desc {
		position: relative;
		margin: 1em 0 0 0;
		padding: 1em;
		background: rgb(245,245,245);
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
		-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
		box-shadow: 0 0 1px rgba(0,0,0,0.20);

		z-index: 15;
	}

	.direction-l .desc,
	.direction-r .desc {
		position: relative;
		margin: 1em 1em 0 1em;
		padding: 1em;

		z-index: 15;
	}

}

@media screen and (max-width: 1500px) {
	#fix-category {
		display: none;
	}
}

@media screen and (max-width: 1240px) {
	.project-background-left {
		display: none;
	}

	.project-background-right {
		display: none;
	}
}
